
@media screen and (max-width: 450px){
    .left_side{
        display: none !important;
    }

    .right_side{
        display: none !important;
    }
}

@media screen and (max-width: 768px){
    .left_side{
        margin-left: 0 !important;
        padding-right: 0 !important;
        display: flex;
        justify-content: center;
    }
    
    .right_side{
        display: none !important;
    }

    // .main_home{
    //     margin-right: 50px;
    // }
}
